.banner {
    position: relative;
    min-width: 320px;
    min-height: 389px;
    margin: 0 auto;
    background-image: url("../../img/backgroundindex-mobile.jpg");
    background-size: 901px 389px;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    &::after {
        position: absolute;
        content:"";
        background-image: url(../img/svg/stack.svg#banner-corner);
        background-size: 1201px 57px;
        background-repeat: no-repeat;
        background-position: center;
        top: 332px;
        left: 0;
        right: 0;
        min-height:57px;
    }
  
    @media (min-resolution: 2dppx) {
      background-image: url("../../img/backgroundindex-mobile@2x.jpg");
    }
  }

@media (min-width: $tablet-width) {
  .banner {
    min-width: 768px;
    min-height: 518px;
    background-image: url("../../img/backgroundindex-tabdesk.jpg");
    background-size: 1200px 518px;

    &::after {
      position: absolute;
      content:"";
      background-image: url(../img/svg/stack.svg#banner-corner);
      background-size: 1200px 57px;
      background-repeat: no-repeat;
      background-position: center;
      top: 461px;
      left: 0;
      right: 0;
      min-height:57px;
    }

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/backgroundindex-tabdesk@2x.jpg");
    }
  }
}

@media (min-width: $desktop-width) {
  .banner {
    width: 1200px;
    height: 518px;

    &::after {
      top: 462px;
    }
  }
}

  .banner__landscape {
    display: block;
    width: 282px;
    height: 214px;
    padding-top: 90px;
    margin: 0 auto;
  }

  
@media (min-width: $tablet-width) {
  .banner__landscape {
    padding-top: 77px;
    width: 461px;
    height: 350px;
  }
}

  
@media (min-width: $desktop-width) {
  .banner__landscape {
    padding-top: 78px;
  }
}

@media (min-width: $tablet-width) {
  .banner__landscape-text {
    width: 461px;
    height: 350px;
  }
}
