.button {
    display: flex;
    justify-content: center;
    padding: 16px 49px;
    align-items: center;
    min-width: 280px;
    min-height: 58px;
    box-sizing: border-box;
    background-color: #81b3d2;
    font-family: "PTSans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    color: #ffffff;
    text-decoration: none;

    &:hover {
        background-color: #669ec0;
    }

    &:active {
        background-color:  #5496bd;
        color: rgba(255, 255, 255, 0.3)
    }

    &:default {
        background-color:  #e5e5e5;
    }
}


@media (min-width: $tablet-width) {
    .button {
        min-width: 458px;
        margin: 0 155px 58px 155px;
        font-size: 21px;
    }
}

@media (min-width: $desktop-width) {
    .button {
        width: 458px;
        margin: 0 371px 66px 371px;
        font-size: 21px;
    }
}

.button--all {
    width: 100%;
    border: none;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
}

@media (min-width: $tablet-width) {
    .button--all {
        margin: 0;
        margin-right: 132px;
        padding: 16px 71px;
        min-width: 324px;
    }
}

@media (min-width: $desktop-width) {
    .button--all {
        margin: 0;
        margin-right: 156px;
        padding: 16px 101px;
        width: 384px;
    }
}