.button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 280px;
    min-height: 58px;
    box-sizing: border-box;
    background-color: #81b3d2;
    font-family: "PTSans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #ffffff;
    text-decoration: none;
}

.button--all {
    width: 100%;
    border: none;
}