.checkbox {
  position: relative;
  padding: 0;
  margin: 10px 0 36px 0;
}

@media (min-width: $tablet-width) {
  .checkbox {
    margin-bottom: 30px;
  }
}

@media (min-width: $desktop-width) {
  .checkbox {
    margin: 0;
    width: 172px;
    min-width: 172px;
  }
}

.checkbox__control-label {
  display: block;
  margin: 0 0 0 62px;
  font-family: "PTSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.checkbox__control-mark {
  position: absolute;
  top: -10px;
  left: 0;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.checkbox__input[type="checkbox"]:checked + .checkbox__control-mark::before {
  position: absolute;
  content: "";
  top: 30%;
  left: 28%;
  width: 22px;
  height: 16px;
  mask-image: url("../img/svg/stack.svg#tick");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #000000;
}

.checkbox__input[type="checkbox"]:hover + .checkbox__control-mark {
  background-color: #e5e5e5;
}

.checkbox__input[type="checkbox"]:active + .checkbox__control-mark::before {
  opacity: 30%;
}

.checkbox__input[type="checkbox"]:active + .checkbox__control-mark {
  background-color: #d5d5d5;
}
