.copyright {
    display: flex;
    justify-content: center;
    min-width: 128px;
    min-height: 34px;
    text-decoration: none;
}

.copyright__academy {
    display: block;
    margin: auto 12px auto 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    text-transform: uppercase;

}

.copyright__academy {
    display: block;
}