.copyright {
  display: flex;
  flex-wrap: wrap;
  min-width: 138px;
  justify-content: space-between;
  padding: 0 96px;
  min-height: 34px;
  text-decoration: none;
  color: #000000;

  &:hover {
    color: #669ec0;
  }

  &:active {
    color: #5496bd;
  }
}

.copyright__academy {
  display: block;
  margin: auto 12px auto 0;
  font-weight: 400;
  min-width: 89px;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.copyright__academylogo {
  width: 27px;
  height: 34px;
  flex-shrink: 0;
  margin-right: 10px;
}

@media (min-width: $tablet-width) {
  .copyright {
    min-width: 125px;
    padding: 0;
    justify-content: end;
  }
}
