.copyright {
    display: flex;
    justify-content: center;
    min-width: 128px;
    min-height: 34px;
    text-decoration: none;
    color: #000000;

    &:hover {
        color: #669ec0;
    }

    &:active {
        color:  #5496bd;
    }
}

.copyright__academy {
    display: block;
    margin: auto 12px auto 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;

}

.copyright__academy {
    display: block;
}

@media (min-width: $tablet-width) {
    .copyright {
        min-width: 125px;
        justify-content: end;
    }
}
