.description {
    position: relative;
    min-width: 320px;

    
    &::after {
        position: absolute;
        content:"";
        background-image: url(../img/svg/stack.svg#description-corner);
        background-repeat: no-repeat;
        background-size: 768px 37px;
        background-position: center;
        top: 99%;
        left: 0;
        right: 0;
        min-height:37px;
        z-index: 6666;
    }
}

@media (min-width: $tablet-width) {
    .description {
        min-width: 768px;

            
       &::after {
            display: none;
        }

    }
}

.description__text {
    padding: 33px 18px 8px 18px;
    min-width: 284px;
    margin: 0 auto;
    font-family:"PTSans", "Arial", serif;
    text-transform: uppercase;
    text-align: center;
}

  
@media (min-width: $tablet-width) { 
    .description__text {
        padding: 47.5px 124px 0 124px;
        min-width: 520px;
        margin: 0 auto;
    }
}

@media (min-width: $desktop-width) { 
    .description__text {
        padding-top: 59px;
        margin: 0 auto;
        width: 484px;
    }
}

.description__title {
    display: block;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 27px;
    color:#000000;
    margin-bottom: 35px;
}
  
.description__definition {
    display: block;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 21px;
    color:#333333;
    margin-bottom: 9px;
}

@media (min-width: $tablet-width) { 
    .description__definition {
        margin-bottom: 55.5px;
    }
}

@media (min-width: $tablet-width) { 
    .description__definition {
        margin-bottom: 44px;
    }
}

.description--catalog {
    &::after {
        display: none;
    }
} 

.description__text--catalog {
    padding: 37px 20px 9px 20px;
    min-width: 280px;
}

@media (min-width: $tablet-width) {
    .description__text--catalog {
        padding: 65px 155px 37px 155px;
        min-width: 458px;
    }

    .description__title--catalog {
        font-size: 30px;
    }

    .description__definition--catalog {
        margin: 0;
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}

@media (min-width: $desktop-width) {
    .description__text--catalog {
        padding: 100px 371px 43px 371px;
        min-width: 458px;
    }
    
    .description__definition--catalog {
        margin: 0;
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}

.description--form {
    &::after {
        display: none;
    }
}

.description__text--form {
    padding: 36px 20px 28px 20px;
    min-width: 280px;
}

@media (min-width: $tablet-width) {
    .description__text--form {
        padding: 64px 166.5px 102px 166.5px;
        min-width: 435px;
    }

    .description__title--form {
        font-size: 30px;
    }

    .description__definition--form {
        font-size: 14px;
        line-height: 24px;
        margin: 0;
    }
}

@media (min-width: $desktop-width) {
    .description__text--form {
        padding: 115px 384px 67px 382px;
        min-width: 434px;
    }
}