.feedback {
    min-width: 320px;
    width: 100%;
    margin: 0;
}

.feedback__field-text {
    margin-bottom: 56px;
}

.feedback__container {
    padding: 0 20px 0 20px;
}

.feedback__note {
    margin: 0 0 24px 0;
    text-align: right;
    font-family: "PTSans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    color: rgba(51, 51, 51, 0.6);
    text-transform: uppercase;
}


@media (min-width: $tablet-width) {
    .feedback__note {
        min-width: 192px;
        margin: auto 0;
        font-size: 14px;
    }
}

@media (min-width: $tablet-width) {
    .feedback {
        min-width: 768px;
        padding: 0 60px;
        box-sizing: border-box;
    }
}


@media (min-width: $desktop-width) {
    .feedback {
        min-width: 1200px;
        padding: 0 120px;
        box-sizing: border-box;
    }
}

@media (min-width: $tablet-width) {
    .feedback__form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 70px;
    }
}

@media (min-width: $tablet-width) {
    .feedback__form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 128px;
    }
}


@media (min-width: $tablet-width) {
    .feedback__field-text {
        grid-column: 1/3;
        grid-row: 4/5;
        min-width: 648px;
        margin: 0;
        padding: 0;
    }
}

@media (min-width: $tablet-width) {
    .feedback__container {
        display: flex;
        flex-wrap: no-wrap;
        flex: 0 1 auto;
        grid-column: 1/3;
        grid-row: 5/6;
        min-width: 648px;
        margin: 0;
        padding: 0;
        margin-bottom: 64px;
    }
}

@media (min-width: $desktop-width) {
    .feedback__container {
        width: 768px;
        margin: 0 auto;
        margin-bottom: 64px;
    }
}