.footer {
    width: 100%;
    min-width: 320px;
    min-height: 243px;
    margin: 0 auto;
}

@media (min-width: $tablet-width) {
    .footer {
        width: 100%;
        display: flex;
        row-gap: 20px;
        min-width: 653px;
        min-height: 48px;
        padding: 36px 76px 36px 45px;
        margin-bottom: 36px;
        flex-wrap: wrap;
        justify-content: start;
        align-items: center;
        box-sizing: border-box;
        margin: 0 auto;
    }

    .footer--catalog,
    .footer--form {
        padding: 36px 60px 36px 45px;
    }
}


@media (min-width: $desktop-width) {
    .footer {
        width: 1200px;
        min-height: 48px;
        padding: 36px 136px 36px 104px;
        justify-content: space-between;
    }

    .footer--catalog,
    .footer--form {
        padding: 36px 120px 36px 104px;
    }
}

.footer__logo {
    display: block;
    margin: 0 auto 33.5px auto;
    padding: 38.5px 77px 0 77px;
    text-align: center;
}

@media (min-width: $tablet-width) {
    .footer__logo {
        margin: 0 97px 0 0;
        padding: 0;
        flex: 1 1 auto;
    }
}

.footer__socials {
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 0 77px;
}

@media (min-width: $tablet-width) {
    .footer__socials {
        margin: 0 70px 0 0;
        padding: 0;
        flex: 1 1 auto;
    }
}

.footer__copyright {
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 0 77px;
}

@media (min-width: $tablet-width) {
    .footer__copyright {
        margin: 0;
        padding: 0;
        flex: 1 1 auto;
    }
}