.logotype {
    color: #000000;

    &:hover {
        color: #669ec0;
    }

    &:active {
        color:  #5496bd;
    }
}

.logotype-text {
    display: inline-block;
    min-width: 166px;
    min-height: 26px;
    width: 100%;
    margin: 0 auto;
}

@media (min-width: $tablet-width) {
    .logotype-text {
        display: block;
        padding: 0;
        min-width: 166px;
    }
}