.nav {
  position: relative;
  min-height: 56px;
  width: 100%;
  background-color: #ffffff;
}

@media (min-width: $tablet-width) {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: start;
    min-width: 768px;
  }
}

.nav__list {
  margin: 0;
}

@media (max-width: $mobile-width-only) {
  .nav__toggle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    padding: 0;
    width: 60px;
    height: 56px;
    border: none;
    background-image: url("../img/svg/stack.svg#menu-close");
    background-repeat: no-repeat;
    background-size: 22px 22px;
    background-position: 17px 17px;
    background-color: #81b3d2;
    z-index: 5555555;
    cursor: pointer;

    &:hover {
      opacity: 60%;
    }

    &:active {
      opacity: 30%;
    }
  }

  .nav--closed .nav__toggle {
    background-image: url("../img/svg/stack.svg#toggle");
    background-repeat: no-repeat;
    background-size: 23px 22px;
    background-position: 16.5px 17px;
    background-color: #ffffff;
  }
}

@media (min-width: $tablet-width) {
  .nav__toggle {
    display: none;
  }
}

.nav__wrapper {
  position: absolute;
  min-width: 320px;
  width: 100%;
  content: "";
  top: 0;
  left: 0;
  z-index: 450000;
  background-color: #ffffff;
}

@media (min-width: $tablet-width) {
  .nav__wrapper {
    position: static;
  }
}

@media (max-width: $mobile-width-only) {
  .nav--closed .site-list__item {
    display: none;

    &--active {
      display: block;
    }
  }

  .nav--nojs .nav__toggle {
    display: none;
  }

  .nav--nojs .nav__wrapper {
    position: static;
    display: block;
    margin: 0 auto;
  }

  .nav--nojs .site-list__item {
    display: block;
    margin: 0 auto;
    background-color: #81b3d2;
  }
}
