.page {
min-width: 320px;
width: 100%;
padding: 0;
margin: 0;
overflow-x: hidden;
}

.page__body {
position: relative;
min-width: 320px;
display: flex;
flex-direction: column;
padding: 0;
margin: 0;
font-family: "PTSans", "Arial", sans-serif;
overflow-x: hidden;
}

.page__container {
    min-width: 320px;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

.page__catalog {
    min-width: 320px;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

.page__form {
    min-width: 320px;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}