.site-list {
    position: relative;
    margin: 0;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    list-style-type: none;
}

@media (min-width: $tablet-width) {
    .site-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      align-items: center;
      min-width: 768px;
    }
  }

  
@media (max-width: $mobile-width-only) {
  .site-list__item {
    position: relative;
    padding: 17px 78px 12px 77px;
    min-height: 56px;
    box-sizing: border-box;
    margin: 0 auto;
    font-family:"PTSans", "Arial", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 26px;
    color:#ffffff;
    box-shadow:  0px 1px 0px rgba(1, 1, 1, 0.2), 0px 1px 0px rgba(255, 255, 255, 0.2);
    background-color: #81B3D2;
    text-transform: uppercase;
    text-decoration: none;
    z-index: 45;
    }

  .site-list__item--hover:hover {
    background-color: #669ec0;
  }

  .site-list__item--hover:active {
    background-color: #5496bd;
  }

  .site-list__item--hover:active > .site-list__link {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
  }
}

@media (min-width: $tablet-width) {
  .site-list__item {
    display: inline-block;
    flex: 1 1 auto;
    margin:0;
    width: 153px;
    padding: 5px;
    min-height: 56px;
    box-sizing: border-box;
    min-width: 153px;
    font-family:"PTSans", "Arial", serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    color: #000000;
    background-color: #ffffff;
    box-shadow: none;
    z-index: 45;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item {
    width: 240px;
  }
}

@media (min-width: $tablet-width) {
  .site-list__item--images {
    margin-right: 153px;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item--images {
    margin-right: 240px;
  }
}

.site-list__link {
    color:#ffffff;
    text-decoration: none;
    margin: 0 auto;
}

.site-list__current {
  color: #e5e5e5;
}


@media (min-width: $tablet-width) {
  .site-list__link {
    display: block;
    margin-top: 13px;
    margin-bottom: 12px;
    color:#000000;
  }

  .site-list__link:hover {
    color:#81B3D2;
  }

  .site-list__link:active {
    color: #5496BD;
  }

  .site-list__current {
    display: block;
    margin-top: 13px;
    margin-bottom: 12px;
    color: #e5e5e5;
  }
}