.site-list {
    position: relative;
    margin: 0;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    list-style-type: none;
}


.site-list__item {
    position: relative;
    padding: 17px 78px 12px 77px;
    min-height: 55px;
    box-sizing: border-box;
    margin: 0 auto;
    font-family:"PTSans", "Arial", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 26px;
    color:#ffffff;
    box-shadow:  0px 1px 0px rgba(1, 1, 1, 0.2), 0px 1px 0px rgba(255, 255, 255, 0.2);
    background-color: #81B3D2;
    text-transform: uppercase;
    text-decoration: none;
    z-index: 45;
}

.site-list__link {
    color:#ffffff;
    text-decoration: none;
    margin: 0 auto;
}